# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# knitr and R markdown
*.knit.md
*.utf8.md

# OS files
.DS_Store
Thumbs.db